/* LESS BUILD */
/*
  Color Mixins

  Example:
  #777777 lighten(@text-color, 46.5%)
  #bebebe lighten(@text-color, 74.5%)
*/
/* Bootstrap */
/* ====================================================== */
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  body {
    margin: 0;
  }
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  nav,
  section,
  summary {
    display: block;
  }
  audio,
  canvas,
  progress,
  video {
    display: inline-block;
    vertical-align: baseline;
  }
  audio:not([controls]) {
    display: none;
    height: 0;
  }
  [hidden],
  template {
    display: none;
  }
  a {
    background: transparent;
  }
  a:active,
  a:hover {
    outline: 0;
  }
  abbr[title] {
    border-bottom: 1px dotted;
  }
  b,
  strong {
    font-weight: bold;
  }
  dfn {
    font-style: italic;
  }
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  mark {
    background: #ff0;
    color: #000;
  }
  small {
    font-size: 80%;
  }
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sup {
    top: -0.5em;
  }
  sub {
    bottom: -0.25em;
  }
  img {
    border: 0;
  }
  svg:not(:root) {
    overflow: hidden;
  }
  figure {
    margin: 1em 40px;
  }
  hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
  }
  pre {
    overflow: auto;
  }
  code,
  kbd,
  pre,
  samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  button,
  input,
  optgroup,
  select,
  textarea {
    color: inherit;
    font: inherit;
    margin: 0;
  }
  button {
    overflow: visible;
  }
  button,
  select {
    text-transform: none;
  }
  button,
  html input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
  }
  button[disabled],
  html input[disabled] {
    cursor: default;
  }
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  input {
    line-height: normal;
  }
  input[type="checkbox"],
  input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  }
  legend {
    border: 0;
    padding: 0;
  }
  textarea {
    overflow: auto;
  }
  optgroup {
    font-weight: bold;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  td,
  th {
    padding: 0;
  }
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  .container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
  }
  .col-xs-12 {
    width: 100%;
  }
  .col-xs-11 {
    width: 91.66666667%;
  }
  .col-xs-10 {
    width: 83.33333333%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-8 {
    width: 66.66666667%;
  }
  .col-xs-7 {
    width: 58.33333333%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-5 {
    width: 41.66666667%;
  }
  .col-xs-4 {
    width: 33.33333333%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-2 {
    width: 16.66666667%;
  }
  .col-xs-1 {
    width: 8.33333333%;
  }
  .col-xs-pull-12 {
    right: 100%;
  }
  .col-xs-pull-11 {
    right: 91.66666667%;
  }
  .col-xs-pull-10 {
    right: 83.33333333%;
  }
  .col-xs-pull-9 {
    right: 75%;
  }
  .col-xs-pull-8 {
    right: 66.66666667%;
  }
  .col-xs-pull-7 {
    right: 58.33333333%;
  }
  .col-xs-pull-6 {
    right: 50%;
  }
  .col-xs-pull-5 {
    right: 41.66666667%;
  }
  .col-xs-pull-4 {
    right: 33.33333333%;
  }
  .col-xs-pull-3 {
    right: 25%;
  }
  .col-xs-pull-2 {
    right: 16.66666667%;
  }
  .col-xs-pull-1 {
    right: 8.33333333%;
  }
  .col-xs-pull-0 {
    right: auto;
  }
  .col-xs-push-12 {
    left: 100%;
  }
  .col-xs-push-11 {
    left: 91.66666667%;
  }
  .col-xs-push-10 {
    left: 83.33333333%;
  }
  .col-xs-push-9 {
    left: 75%;
  }
  .col-xs-push-8 {
    left: 66.66666667%;
  }
  .col-xs-push-7 {
    left: 58.33333333%;
  }
  .col-xs-push-6 {
    left: 50%;
  }
  .col-xs-push-5 {
    left: 41.66666667%;
  }
  .col-xs-push-4 {
    left: 33.33333333%;
  }
  .col-xs-push-3 {
    left: 25%;
  }
  .col-xs-push-2 {
    left: 16.66666667%;
  }
  .col-xs-push-1 {
    left: 8.33333333%;
  }
  .col-xs-push-0 {
    left: auto;
  }
  .col-xs-offset-12 {
    margin-left: 100%;
  }
  .col-xs-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-xs-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-xs-offset-9 {
    margin-left: 75%;
  }
  .col-xs-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-xs-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-xs-offset-6 {
    margin-left: 50%;
  }
  .col-xs-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-xs-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-xs-offset-3 {
    margin-left: 25%;
  }
  .col-xs-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-xs-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-xs-offset-0 {
    margin-left: 0%;
  }
  @media (min-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
    }
    .col-sm-12 {
      width: 100%;
    }
    .col-sm-11 {
      width: 91.66666667%;
    }
    .col-sm-10 {
      width: 83.33333333%;
    }
    .col-sm-9 {
      width: 75%;
    }
    .col-sm-8 {
      width: 66.66666667%;
    }
    .col-sm-7 {
      width: 58.33333333%;
    }
    .col-sm-6 {
      width: 50%;
    }
    .col-sm-5 {
      width: 41.66666667%;
    }
    .col-sm-4 {
      width: 33.33333333%;
    }
    .col-sm-3 {
      width: 25%;
    }
    .col-sm-2 {
      width: 16.66666667%;
    }
    .col-sm-1 {
      width: 8.33333333%;
    }
    .col-sm-pull-12 {
      right: 100%;
    }
    .col-sm-pull-11 {
      right: 91.66666667%;
    }
    .col-sm-pull-10 {
      right: 83.33333333%;
    }
    .col-sm-pull-9 {
      right: 75%;
    }
    .col-sm-pull-8 {
      right: 66.66666667%;
    }
    .col-sm-pull-7 {
      right: 58.33333333%;
    }
    .col-sm-pull-6 {
      right: 50%;
    }
    .col-sm-pull-5 {
      right: 41.66666667%;
    }
    .col-sm-pull-4 {
      right: 33.33333333%;
    }
    .col-sm-pull-3 {
      right: 25%;
    }
    .col-sm-pull-2 {
      right: 16.66666667%;
    }
    .col-sm-pull-1 {
      right: 8.33333333%;
    }
    .col-sm-pull-0 {
      right: auto;
    }
    .col-sm-push-12 {
      left: 100%;
    }
    .col-sm-push-11 {
      left: 91.66666667%;
    }
    .col-sm-push-10 {
      left: 83.33333333%;
    }
    .col-sm-push-9 {
      left: 75%;
    }
    .col-sm-push-8 {
      left: 66.66666667%;
    }
    .col-sm-push-7 {
      left: 58.33333333%;
    }
    .col-sm-push-6 {
      left: 50%;
    }
    .col-sm-push-5 {
      left: 41.66666667%;
    }
    .col-sm-push-4 {
      left: 33.33333333%;
    }
    .col-sm-push-3 {
      left: 25%;
    }
    .col-sm-push-2 {
      left: 16.66666667%;
    }
    .col-sm-push-1 {
      left: 8.33333333%;
    }
    .col-sm-push-0 {
      left: auto;
    }
    .col-sm-offset-12 {
      margin-left: 100%;
    }
    .col-sm-offset-11 {
      margin-left: 91.66666667%;
    }
    .col-sm-offset-10 {
      margin-left: 83.33333333%;
    }
    .col-sm-offset-9 {
      margin-left: 75%;
    }
    .col-sm-offset-8 {
      margin-left: 66.66666667%;
    }
    .col-sm-offset-7 {
      margin-left: 58.33333333%;
    }
    .col-sm-offset-6 {
      margin-left: 50%;
    }
    .col-sm-offset-5 {
      margin-left: 41.66666667%;
    }
    .col-sm-offset-4 {
      margin-left: 33.33333333%;
    }
    .col-sm-offset-3 {
      margin-left: 25%;
    }
    .col-sm-offset-2 {
      margin-left: 16.66666667%;
    }
    .col-sm-offset-1 {
      margin-left: 8.33333333%;
    }
    .col-sm-offset-0 {
      margin-left: 0%;
    }
  }
  @media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;
    }
    .col-md-12 {
      width: 100%;
    }
    .col-md-11 {
      width: 91.66666667%;
    }
    .col-md-10 {
      width: 83.33333333%;
    }
    .col-md-9 {
      width: 75%;
    }
    .col-md-8 {
      width: 66.66666667%;
    }
    .col-md-7 {
      width: 58.33333333%;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-5 {
      width: 41.66666667%;
    }
    .col-md-4 {
      width: 33.33333333%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-2 {
      width: 16.66666667%;
    }
    .col-md-1 {
      width: 8.33333333%;
    }
    .col-md-pull-12 {
      right: 100%;
    }
    .col-md-pull-11 {
      right: 91.66666667%;
    }
    .col-md-pull-10 {
      right: 83.33333333%;
    }
    .col-md-pull-9 {
      right: 75%;
    }
    .col-md-pull-8 {
      right: 66.66666667%;
    }
    .col-md-pull-7 {
      right: 58.33333333%;
    }
    .col-md-pull-6 {
      right: 50%;
    }
    .col-md-pull-5 {
      right: 41.66666667%;
    }
    .col-md-pull-4 {
      right: 33.33333333%;
    }
    .col-md-pull-3 {
      right: 25%;
    }
    .col-md-pull-2 {
      right: 16.66666667%;
    }
    .col-md-pull-1 {
      right: 8.33333333%;
    }
    .col-md-pull-0 {
      right: auto;
    }
    .col-md-push-12 {
      left: 100%;
    }
    .col-md-push-11 {
      left: 91.66666667%;
    }
    .col-md-push-10 {
      left: 83.33333333%;
    }
    .col-md-push-9 {
      left: 75%;
    }
    .col-md-push-8 {
      left: 66.66666667%;
    }
    .col-md-push-7 {
      left: 58.33333333%;
    }
    .col-md-push-6 {
      left: 50%;
    }
    .col-md-push-5 {
      left: 41.66666667%;
    }
    .col-md-push-4 {
      left: 33.33333333%;
    }
    .col-md-push-3 {
      left: 25%;
    }
    .col-md-push-2 {
      left: 16.66666667%;
    }
    .col-md-push-1 {
      left: 8.33333333%;
    }
    .col-md-push-0 {
      left: auto;
    }
    .col-md-offset-12 {
      margin-left: 100%;
    }
    .col-md-offset-11 {
      margin-left: 91.66666667%;
    }
    .col-md-offset-10 {
      margin-left: 83.33333333%;
    }
    .col-md-offset-9 {
      margin-left: 75%;
    }
    .col-md-offset-8 {
      margin-left: 66.66666667%;
    }
    .col-md-offset-7 {
      margin-left: 58.33333333%;
    }
    .col-md-offset-6 {
      margin-left: 50%;
    }
    .col-md-offset-5 {
      margin-left: 41.66666667%;
    }
    .col-md-offset-4 {
      margin-left: 33.33333333%;
    }
    .col-md-offset-3 {
      margin-left: 25%;
    }
    .col-md-offset-2 {
      margin-left: 16.66666667%;
    }
    .col-md-offset-1 {
      margin-left: 8.33333333%;
    }
    .col-md-offset-0 {
      margin-left: 0%;
    }
  }
  @media (min-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;
    }
    .col-lg-12 {
      width: 100%;
    }
    .col-lg-11 {
      width: 91.66666667%;
    }
    .col-lg-10 {
      width: 83.33333333%;
    }
    .col-lg-9 {
      width: 75%;
    }
    .col-lg-8 {
      width: 66.66666667%;
    }
    .col-lg-7 {
      width: 58.33333333%;
    }
    .col-lg-6 {
      width: 50%;
    }
    .col-lg-5 {
      width: 41.66666667%;
    }
    .col-lg-4 {
      width: 33.33333333%;
    }
    .col-lg-3 {
      width: 25%;
    }
    .col-lg-2 {
      width: 16.66666667%;
    }
    .col-lg-1 {
      width: 8.33333333%;
    }
    .col-lg-pull-12 {
      right: 100%;
    }
    .col-lg-pull-11 {
      right: 91.66666667%;
    }
    .col-lg-pull-10 {
      right: 83.33333333%;
    }
    .col-lg-pull-9 {
      right: 75%;
    }
    .col-lg-pull-8 {
      right: 66.66666667%;
    }
    .col-lg-pull-7 {
      right: 58.33333333%;
    }
    .col-lg-pull-6 {
      right: 50%;
    }
    .col-lg-pull-5 {
      right: 41.66666667%;
    }
    .col-lg-pull-4 {
      right: 33.33333333%;
    }
    .col-lg-pull-3 {
      right: 25%;
    }
    .col-lg-pull-2 {
      right: 16.66666667%;
    }
    .col-lg-pull-1 {
      right: 8.33333333%;
    }
    .col-lg-pull-0 {
      right: auto;
    }
    .col-lg-push-12 {
      left: 100%;
    }
    .col-lg-push-11 {
      left: 91.66666667%;
    }
    .col-lg-push-10 {
      left: 83.33333333%;
    }
    .col-lg-push-9 {
      left: 75%;
    }
    .col-lg-push-8 {
      left: 66.66666667%;
    }
    .col-lg-push-7 {
      left: 58.33333333%;
    }
    .col-lg-push-6 {
      left: 50%;
    }
    .col-lg-push-5 {
      left: 41.66666667%;
    }
    .col-lg-push-4 {
      left: 33.33333333%;
    }
    .col-lg-push-3 {
      left: 25%;
    }
    .col-lg-push-2 {
      left: 16.66666667%;
    }
    .col-lg-push-1 {
      left: 8.33333333%;
    }
    .col-lg-push-0 {
      left: auto;
    }
    .col-lg-offset-12 {
      margin-left: 100%;
    }
    .col-lg-offset-11 {
      margin-left: 91.66666667%;
    }
    .col-lg-offset-10 {
      margin-left: 83.33333333%;
    }
    .col-lg-offset-9 {
      margin-left: 75%;
    }
    .col-lg-offset-8 {
      margin-left: 66.66666667%;
    }
    .col-lg-offset-7 {
      margin-left: 58.33333333%;
    }
    .col-lg-offset-6 {
      margin-left: 50%;
    }
    .col-lg-offset-5 {
      margin-left: 41.66666667%;
    }
    .col-lg-offset-4 {
      margin-left: 33.33333333%;
    }
    .col-lg-offset-3 {
      margin-left: 25%;
    }
    .col-lg-offset-2 {
      margin-left: 16.66666667%;
    }
    .col-lg-offset-1 {
      margin-left: 8.33333333%;
    }
    .col-lg-offset-0 {
      margin-left: 0%;
    }
  }
  .clearfix:before,
  .clearfix:after,
  .container:before,
  .container:after,
  .container-fluid:before,
  .container-fluid:after,
  .row:before,
  .row:after {
    content: " ";
    display: table;
  }
  .clearfix:after,
  .container:after,
  .container-fluid:after,
  .row:after {
    clear: both;
  }
  .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .pull-right {
    float: right !important;
  }
  .pull-left {
    float: left !important;
  }
  .hide {
    display: none !important;
  }
  .show {
    display: block !important;
  }
  .invisible {
    visibility: hidden;
  }
  .text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  .hidden {
    display: none !important;
    visibility: hidden !important;
  }
  .affix {
    position: fixed;
  }
  @-ms-viewport {
    width: device-width;
  }
  .visible-xs,
  .visible-sm,
  .visible-md,
  .visible-lg {
    display: none !important;
  }
  .visible-xs-block,
  .visible-xs-inline,
  .visible-xs-inline-block,
  .visible-sm-block,
  .visible-sm-inline,
  .visible-sm-inline-block,
  .visible-md-block,
  .visible-md-inline,
  .visible-md-inline-block,
  .visible-lg-block,
  .visible-lg-inline,
  .visible-lg-inline-block {
    display: none !important;
  }
  @media (max-width: 767px) {
    .visible-xs {
      display: block !important;
    }
    table.visible-xs {
      display: table;
    }
    tr.visible-xs {
      display: table-row !important;
    }
    th.visible-xs,
    td.visible-xs {
      display: table-cell !important;
    }
  }
  @media (max-width: 767px) {
    .visible-xs-block {
      display: block !important;
    }
  }
  @media (max-width: 767px) {
    .visible-xs-inline {
      display: inline !important;
    }
  }
  @media (max-width: 767px) {
    .visible-xs-inline-block {
      display: inline-block !important;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .visible-sm {
      display: block !important;
    }
    table.visible-sm {
      display: table;
    }
    tr.visible-sm {
      display: table-row !important;
    }
    th.visible-sm,
    td.visible-sm {
      display: table-cell !important;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-block {
      display: block !important;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-inline {
      display: inline !important;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-inline-block {
      display: inline-block !important;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .visible-md {
      display: block !important;
    }
    table.visible-md {
      display: table;
    }
    tr.visible-md {
      display: table-row !important;
    }
    th.visible-md,
    td.visible-md {
      display: table-cell !important;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-block {
      display: block !important;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-inline {
      display: inline !important;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-inline-block {
      display: inline-block !important;
    }
  }
  @media (min-width: 1200px) {
    .visible-lg {
      display: block !important;
    }
    table.visible-lg {
      display: table;
    }
    tr.visible-lg {
      display: table-row !important;
    }
    th.visible-lg,
    td.visible-lg {
      display: table-cell !important;
    }
  }
  @media (min-width: 1200px) {
    .visible-lg-block {
      display: block !important;
    }
  }
  @media (min-width: 1200px) {
    .visible-lg-inline {
      display: inline !important;
    }
  }
  @media (min-width: 1200px) {
    .visible-lg-inline-block {
      display: inline-block !important;
    }
  }
  @media (max-width: 767px) {
    .hidden-xs {
      display: none !important;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
      display: none !important;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
      display: none !important;
    }
  }
  @media (min-width: 1200px) {
    .hidden-lg {
      display: none !important;
    }
  }
  .visible-print {
    display: none !important;
  }
  @media print {
    .visible-print {
      display: block !important;
    }
    table.visible-print {
      display: table;
    }
    tr.visible-print {
      display: table-row !important;
    }
    th.visible-print,
    td.visible-print {
      display: table-cell !important;
    }
  }
  .visible-print-block {
    display: none !important;
  }
  @media print {
    .visible-print-block {
      display: block !important;
    }
  }
  .visible-print-inline {
    display: none !important;
  }
  @media print {
    .visible-print-inline {
      display: inline !important;
    }
  }
  .visible-print-inline-block {
    display: none !important;
  }
  @media print {
    .visible-print-inline-block {
      display: inline-block !important;
    }
  }
  @media print {
    .hidden-print {
      display: none !important;
    }
  }
  /* Font Awesome */
  /* ====================================================== */
  /* FONT PATH
   * -------------------------- */
  @font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot');
    src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  /* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
     readers do not read off random characters that represent icons */
  .fa-glass:before {
    content: "\f000";
  }
  .fa-music:before {
    content: "\f001";
  }
  .fa-search:before {
    content: "\f002";
  }
  .fa-envelope-o:before {
    content: "\f003";
  }
  .fa-heart:before {
    content: "\f004";
  }
  .fa-star:before {
    content: "\f005";
  }
  .fa-star-o:before {
    content: "\f006";
  }
  .fa-user:before {
    content: "\f007";
  }
  .fa-film:before {
    content: "\f008";
  }
  .fa-th-large:before {
    content: "\f009";
  }
  .fa-th:before {
    content: "\f00a";
  }
  .fa-th-list:before {
    content: "\f00b";
  }
  .fa-check:before {
    content: "\f00c";
  }
  .fa-remove:before,
  .fa-close:before,
  .fa-times:before {
    content: "\f00d";
  }
  .fa-search-plus:before {
    content: "\f00e";
  }
  .fa-search-minus:before {
    content: "\f010";
  }
  .fa-power-off:before {
    content: "\f011";
  }
  .fa-signal:before {
    content: "\f012";
  }
  .fa-gear:before,
  .fa-cog:before {
    content: "\f013";
  }
  .fa-trash-o:before {
    content: "\f014";
  }
  .fa-home:before {
    content: "\f015";
  }
  .fa-file-o:before {
    content: "\f016";
  }
  .fa-clock-o:before {
    content: "\f017";
  }
  .fa-road:before {
    content: "\f018";
  }
  .fa-download:before {
    content: "\f019";
  }
  .fa-arrow-circle-o-down:before {
    content: "\f01a";
  }
  .fa-arrow-circle-o-up:before {
    content: "\f01b";
  }
  .fa-inbox:before {
    content: "\f01c";
  }
  .fa-play-circle-o:before {
    content: "\f01d";
  }
  .fa-rotate-right:before,
  .fa-repeat:before {
    content: "\f01e";
  }
  .fa-refresh:before {
    content: "\f021";
  }
  .fa-list-alt:before {
    content: "\f022";
  }
  .fa-lock:before {
    content: "\f023";
  }
  .fa-flag:before {
    content: "\f024";
  }
  .fa-headphones:before {
    content: "\f025";
  }
  .fa-volume-off:before {
    content: "\f026";
  }
  .fa-volume-down:before {
    content: "\f027";
  }
  .fa-volume-up:before {
    content: "\f028";
  }
  .fa-qrcode:before {
    content: "\f029";
  }
  .fa-barcode:before {
    content: "\f02a";
  }
  .fa-tag:before {
    content: "\f02b";
  }
  .fa-tags:before {
    content: "\f02c";
  }
  .fa-book:before {
    content: "\f02d";
  }
  .fa-bookmark:before {
    content: "\f02e";
  }
  .fa-print:before {
    content: "\f02f";
  }
  .fa-camera:before {
    content: "\f030";
  }
  .fa-font:before {
    content: "\f031";
  }
  .fa-bold:before {
    content: "\f032";
  }
  .fa-italic:before {
    content: "\f033";
  }
  .fa-text-height:before {
    content: "\f034";
  }
  .fa-text-width:before {
    content: "\f035";
  }
  .fa-align-left:before {
    content: "\f036";
  }
  .fa-align-center:before {
    content: "\f037";
  }
  .fa-align-right:before {
    content: "\f038";
  }
  .fa-align-justify:before {
    content: "\f039";
  }
  .fa-list:before {
    content: "\f03a";
  }
  .fa-dedent:before,
  .fa-outdent:before {
    content: "\f03b";
  }
  .fa-indent:before {
    content: "\f03c";
  }
  .fa-video-camera:before {
    content: "\f03d";
  }
  .fa-photo:before,
  .fa-image:before,
  .fa-picture-o:before {
    content: "\f03e";
  }
  .fa-pencil:before {
    content: "\f040";
  }
  .fa-map-marker:before {
    content: "\f041";
  }
  .fa-adjust:before {
    content: "\f042";
  }
  .fa-tint:before {
    content: "\f043";
  }
  .fa-edit:before,
  .fa-pencil-square-o:before {
    content: "\f044";
  }
  .fa-share-square-o:before {
    content: "\f045";
  }
  .fa-check-square-o:before {
    content: "\f046";
  }
  .fa-arrows:before {
    content: "\f047";
  }
  .fa-step-backward:before {
    content: "\f048";
  }
  .fa-fast-backward:before {
    content: "\f049";
  }
  .fa-backward:before {
    content: "\f04a";
  }
  .fa-play:before {
    content: "\f04b";
  }
  .fa-pause:before {
    content: "\f04c";
  }
  .fa-stop:before {
    content: "\f04d";
  }
  .fa-forward:before {
    content: "\f04e";
  }
  .fa-fast-forward:before {
    content: "\f050";
  }
  .fa-step-forward:before {
    content: "\f051";
  }
  .fa-eject:before {
    content: "\f052";
  }
  .fa-chevron-left:before {
    content: "\f053";
  }
  .fa-chevron-right:before {
    content: "\f054";
  }
  .fa-plus-circle:before {
    content: "\f055";
  }
  .fa-minus-circle:before {
    content: "\f056";
  }
  .fa-times-circle:before {
    content: "\f057";
  }
  .fa-check-circle:before {
    content: "\f058";
  }
  .fa-question-circle:before {
    content: "\f059";
  }
  .fa-info-circle:before {
    content: "\f05a";
  }
  .fa-crosshairs:before {
    content: "\f05b";
  }
  .fa-times-circle-o:before {
    content: "\f05c";
  }
  .fa-check-circle-o:before {
    content: "\f05d";
  }
  .fa-ban:before {
    content: "\f05e";
  }
  .fa-arrow-left:before {
    content: "\f060";
  }
  .fa-arrow-right:before {
    content: "\f061";
  }
  .fa-arrow-up:before {
    content: "\f062";
  }
  .fa-arrow-down:before {
    content: "\f063";
  }
  .fa-mail-forward:before,
  .fa-share:before {
    content: "\f064";
  }
  .fa-expand:before {
    content: "\f065";
  }
  .fa-compress:before {
    content: "\f066";
  }
  .fa-plus:before {
    content: "\f067";
  }
  .fa-minus:before {
    content: "\f068";
  }
  .fa-asterisk:before {
    content: "\f069";
  }
  .fa-exclamation-circle:before {
    content: "\f06a";
  }
  .fa-gift:before {
    content: "\f06b";
  }
  .fa-leaf:before {
    content: "\f06c";
  }
  .fa-fire:before {
    content: "\f06d";
  }
  .fa-eye:before {
    content: "\f06e";
  }
  .fa-eye-slash:before {
    content: "\f070";
  }
  .fa-warning:before,
  .fa-exclamation-triangle:before {
    content: "\f071";
  }
  .fa-plane:before {
    content: "\f072";
  }
  .fa-calendar:before {
    content: "\f073";
  }
  .fa-random:before {
    content: "\f074";
  }
  .fa-comment:before {
    content: "\f075";
  }
  .fa-magnet:before {
    content: "\f076";
  }
  .fa-chevron-up:before {
    content: "\f077";
  }
  .fa-chevron-down:before {
    content: "\f078";
  }
  .fa-retweet:before {
    content: "\f079";
  }
  .fa-shopping-cart:before {
    content: "\f07a";
  }
  .fa-folder:before {
    content: "\f07b";
  }
  .fa-folder-open:before {
    content: "\f07c";
  }
  .fa-arrows-v:before {
    content: "\f07d";
  }
  .fa-arrows-h:before {
    content: "\f07e";
  }
  .fa-bar-chart-o:before,
  .fa-bar-chart:before {
    content: "\f080";
  }
  .fa-twitter-square:before {
    content: "\f081";
  }
  .fa-facebook-square:before {
    content: "\f082";
  }
  .fa-camera-retro:before {
    content: "\f083";
  }
  .fa-key:before {
    content: "\f084";
  }
  .fa-gears:before,
  .fa-cogs:before {
    content: "\f085";
  }
  .fa-comments:before {
    content: "\f086";
  }
  .fa-thumbs-o-up:before {
    content: "\f087";
  }
  .fa-thumbs-o-down:before {
    content: "\f088";
  }
  .fa-star-half:before {
    content: "\f089";
  }
  .fa-heart-o:before {
    content: "\f08a";
  }
  .fa-sign-out:before {
    content: "\f08b";
  }
  .fa-linkedin-square:before {
    content: "\f08c";
  }
  .fa-thumb-tack:before {
    content: "\f08d";
  }
  .fa-external-link:before {
    content: "\f08e";
  }
  .fa-sign-in:before {
    content: "\f090";
  }
  .fa-trophy:before {
    content: "\f091";
  }
  .fa-github-square:before {
    content: "\f092";
  }
  .fa-upload:before {
    content: "\f093";
  }
  .fa-lemon-o:before {
    content: "\f094";
  }
  .fa-phone:before {
    content: "\f095";
  }
  .fa-square-o:before {
    content: "\f096";
  }
  .fa-bookmark-o:before {
    content: "\f097";
  }
  .fa-phone-square:before {
    content: "\f098";
  }
  .fa-twitter:before {
    content: "\f099";
  }
  .fa-facebook:before {
    content: "\f09a";
  }
  .fa-github:before {
    content: "\f09b";
  }
  .fa-unlock:before {
    content: "\f09c";
  }
  .fa-credit-card:before {
    content: "\f09d";
  }
  .fa-rss:before {
    content: "\f09e";
  }
  .fa-hdd-o:before {
    content: "\f0a0";
  }
  .fa-bullhorn:before {
    content: "\f0a1";
  }
  .fa-bell:before {
    content: "\f0f3";
  }
  .fa-certificate:before {
    content: "\f0a3";
  }
  .fa-hand-o-right:before {
    content: "\f0a4";
  }
  .fa-hand-o-left:before {
    content: "\f0a5";
  }
  .fa-hand-o-up:before {
    content: "\f0a6";
  }
  .fa-hand-o-down:before {
    content: "\f0a7";
  }
  .fa-arrow-circle-left:before {
    content: "\f0a8";
  }
  .fa-arrow-circle-right:before {
    content: "\f0a9";
  }
  .fa-arrow-circle-up:before {
    content: "\f0aa";
  }
  .fa-arrow-circle-down:before {
    content: "\f0ab";
  }
  .fa-globe:before {
    content: "\f0ac";
  }
  .fa-wrench:before {
    content: "\f0ad";
  }
  .fa-tasks:before {
    content: "\f0ae";
  }
  .fa-filter:before {
    content: "\f0b0";
  }
  .fa-briefcase:before {
    content: "\f0b1";
  }
  .fa-arrows-alt:before {
    content: "\f0b2";
  }
  .fa-group:before,
  .fa-users:before {
    content: "\f0c0";
  }
  .fa-chain:before,
  .fa-link:before {
    content: "\f0c1";
  }
  .fa-cloud:before {
    content: "\f0c2";
  }
  .fa-flask:before {
    content: "\f0c3";
  }
  .fa-cut:before,
  .fa-scissors:before {
    content: "\f0c4";
  }
  .fa-copy:before,
  .fa-files-o:before {
    content: "\f0c5";
  }
  .fa-paperclip:before {
    content: "\f0c6";
  }
  .fa-save:before,
  .fa-floppy-o:before {
    content: "\f0c7";
  }
  .fa-square:before {
    content: "\f0c8";
  }
  .fa-navicon:before,
  .fa-reorder:before,
  .fa-bars:before {
    content: "\f0c9";
  }
  .fa-list-ul:before {
    content: "\f0ca";
  }
  .fa-list-ol:before {
    content: "\f0cb";
  }
  .fa-strikethrough:before {
    content: "\f0cc";
  }
  .fa-underline:before {
    content: "\f0cd";
  }
  .fa-table:before {
    content: "\f0ce";
  }
  .fa-magic:before {
    content: "\f0d0";
  }
  .fa-truck:before {
    content: "\f0d1";
  }
  .fa-pinterest:before {
    content: "\f0d2";
  }
  .fa-pinterest-square:before {
    content: "\f0d3";
  }
  .fa-google-plus-square:before {
    content: "\f0d4";
  }
  .fa-google-plus:before {
    content: "\f0d5";
  }
  .fa-money:before {
    content: "\f0d6";
  }
  .fa-caret-down:before {
    content: "\f0d7";
  }
  .fa-caret-up:before {
    content: "\f0d8";
  }
  .fa-caret-left:before {
    content: "\f0d9";
  }
  .fa-caret-right:before {
    content: "\f0da";
  }
  .fa-columns:before {
    content: "\f0db";
  }
  .fa-unsorted:before,
  .fa-sort:before {
    content: "\f0dc";
  }
  .fa-sort-down:before,
  .fa-sort-desc:before {
    content: "\f0dd";
  }
  .fa-sort-up:before,
  .fa-sort-asc:before {
    content: "\f0de";
  }
  .fa-envelope:before {
    content: "\f0e0";
  }
  .fa-linkedin:before {
    content: "\f0e1";
  }
  .fa-rotate-left:before,
  .fa-undo:before {
    content: "\f0e2";
  }
  .fa-legal:before,
  .fa-gavel:before {
    content: "\f0e3";
  }
  .fa-dashboard:before,
  .fa-tachometer:before {
    content: "\f0e4";
  }
  .fa-comment-o:before {
    content: "\f0e5";
  }
  .fa-comments-o:before {
    content: "\f0e6";
  }
  .fa-flash:before,
  .fa-bolt:before {
    content: "\f0e7";
  }
  .fa-sitemap:before {
    content: "\f0e8";
  }
  .fa-umbrella:before {
    content: "\f0e9";
  }
  .fa-paste:before,
  .fa-clipboard:before {
    content: "\f0ea";
  }
  .fa-lightbulb-o:before {
    content: "\f0eb";
  }
  .fa-exchange:before {
    content: "\f0ec";
  }
  .fa-cloud-download:before {
    content: "\f0ed";
  }
  .fa-cloud-upload:before {
    content: "\f0ee";
  }
  .fa-user-md:before {
    content: "\f0f0";
  }
  .fa-stethoscope:before {
    content: "\f0f1";
  }
  .fa-suitcase:before {
    content: "\f0f2";
  }
  .fa-bell-o:before {
    content: "\f0a2";
  }
  .fa-coffee:before {
    content: "\f0f4";
  }
  .fa-cutlery:before {
    content: "\f0f5";
  }
  .fa-file-text-o:before {
    content: "\f0f6";
  }
  .fa-building-o:before {
    content: "\f0f7";
  }
  .fa-hospital-o:before {
    content: "\f0f8";
  }
  .fa-ambulance:before {
    content: "\f0f9";
  }
  .fa-medkit:before {
    content: "\f0fa";
  }
  .fa-fighter-jet:before {
    content: "\f0fb";
  }
  .fa-beer:before {
    content: "\f0fc";
  }
  .fa-h-square:before {
    content: "\f0fd";
  }
  .fa-plus-square:before {
    content: "\f0fe";
  }
  .fa-angle-double-left:before {
    content: "\f100";
  }
  .fa-angle-double-right:before {
    content: "\f101";
  }
  .fa-angle-double-up:before {
    content: "\f102";
  }
  .fa-angle-double-down:before {
    content: "\f103";
  }
  .fa-angle-left:before {
    content: "\f104";
  }
  .fa-angle-right:before {
    content: "\f105";
  }
  .fa-angle-up:before {
    content: "\f106";
  }
  .fa-angle-down:before {
    content: "\f107";
  }
  .fa-desktop:before {
    content: "\f108";
  }
  .fa-laptop:before {
    content: "\f109";
  }
  .fa-tablet:before {
    content: "\f10a";
  }
  .fa-mobile-phone:before,
  .fa-mobile:before {
    content: "\f10b";
  }
  .fa-circle-o:before {
    content: "\f10c";
  }
  .fa-quote-left:before {
    content: "\f10d";
  }
  .fa-quote-right:before {
    content: "\f10e";
  }
  .fa-spinner:before {
    content: "\f110";
  }
  .fa-circle:before {
    content: "\f111";
  }
  .fa-mail-reply:before,
  .fa-reply:before {
    content: "\f112";
  }
  .fa-github-alt:before {
    content: "\f113";
  }
  .fa-folder-o:before {
    content: "\f114";
  }
  .fa-folder-open-o:before {
    content: "\f115";
  }
  .fa-smile-o:before {
    content: "\f118";
  }
  .fa-frown-o:before {
    content: "\f119";
  }
  .fa-meh-o:before {
    content: "\f11a";
  }
  .fa-gamepad:before {
    content: "\f11b";
  }
  .fa-keyboard-o:before {
    content: "\f11c";
  }
  .fa-flag-o:before {
    content: "\f11d";
  }
  .fa-flag-checkered:before {
    content: "\f11e";
  }
  .fa-terminal:before {
    content: "\f120";
  }
  .fa-code:before {
    content: "\f121";
  }
  .fa-mail-reply-all:before,
  .fa-reply-all:before {
    content: "\f122";
  }
  .fa-star-half-empty:before,
  .fa-star-half-full:before,
  .fa-star-half-o:before {
    content: "\f123";
  }
  .fa-location-arrow:before {
    content: "\f124";
  }
  .fa-crop:before {
    content: "\f125";
  }
  .fa-code-fork:before {
    content: "\f126";
  }
  .fa-unlink:before,
  .fa-chain-broken:before {
    content: "\f127";
  }
  .fa-question:before {
    content: "\f128";
  }
  .fa-info:before {
    content: "\f129";
  }
  .fa-exclamation:before {
    content: "\f12a";
  }
  .fa-superscript:before {
    content: "\f12b";
  }
  .fa-subscript:before {
    content: "\f12c";
  }
  .fa-eraser:before {
    content: "\f12d";
  }
  .fa-puzzle-piece:before {
    content: "\f12e";
  }
  .fa-microphone:before {
    content: "\f130";
  }
  .fa-microphone-slash:before {
    content: "\f131";
  }
  .fa-shield:before {
    content: "\f132";
  }
  .fa-calendar-o:before {
    content: "\f133";
  }
  .fa-fire-extinguisher:before {
    content: "\f134";
  }
  .fa-rocket:before {
    content: "\f135";
  }
  .fa-maxcdn:before {
    content: "\f136";
  }
  .fa-chevron-circle-left:before {
    content: "\f137";
  }
  .fa-chevron-circle-right:before {
    content: "\f138";
  }
  .fa-chevron-circle-up:before {
    content: "\f139";
  }
  .fa-chevron-circle-down:before {
    content: "\f13a";
  }
  .fa-html5:before {
    content: "\f13b";
  }
  .fa-css3:before {
    content: "\f13c";
  }
  .fa-anchor:before {
    content: "\f13d";
  }
  .fa-unlock-alt:before {
    content: "\f13e";
  }
  .fa-bullseye:before {
    content: "\f140";
  }
  .fa-ellipsis-h:before {
    content: "\f141";
  }
  .fa-ellipsis-v:before {
    content: "\f142";
  }
  .fa-rss-square:before {
    content: "\f143";
  }
  .fa-play-circle:before {
    content: "\f144";
  }
  .fa-ticket:before {
    content: "\f145";
  }
  .fa-minus-square:before {
    content: "\f146";
  }
  .fa-minus-square-o:before {
    content: "\f147";
  }
  .fa-level-up:before {
    content: "\f148";
  }
  .fa-level-down:before {
    content: "\f149";
  }
  .fa-check-square:before {
    content: "\f14a";
  }
  .fa-pencil-square:before {
    content: "\f14b";
  }
  .fa-external-link-square:before {
    content: "\f14c";
  }
  .fa-share-square:before {
    content: "\f14d";
  }
  .fa-compass:before {
    content: "\f14e";
  }
  .fa-toggle-down:before,
  .fa-caret-square-o-down:before {
    content: "\f150";
  }
  .fa-toggle-up:before,
  .fa-caret-square-o-up:before {
    content: "\f151";
  }
  .fa-toggle-right:before,
  .fa-caret-square-o-right:before {
    content: "\f152";
  }
  .fa-euro:before,
  .fa-eur:before {
    content: "\f153";
  }
  .fa-gbp:before {
    content: "\f154";
  }
  .fa-dollar:before,
  .fa-usd:before {
    content: "\f155";
  }
  .fa-rupee:before,
  .fa-inr:before {
    content: "\f156";
  }
  .fa-cny:before,
  .fa-rmb:before,
  .fa-yen:before,
  .fa-jpy:before {
    content: "\f157";
  }
  .fa-ruble:before,
  .fa-rouble:before,
  .fa-rub:before {
    content: "\f158";
  }
  .fa-won:before,
  .fa-krw:before {
    content: "\f159";
  }
  .fa-bitcoin:before,
  .fa-btc:before {
    content: "\f15a";
  }
  .fa-file:before {
    content: "\f15b";
  }
  .fa-file-text:before {
    content: "\f15c";
  }
  .fa-sort-alpha-asc:before {
    content: "\f15d";
  }
  .fa-sort-alpha-desc:before {
    content: "\f15e";
  }
  .fa-sort-amount-asc:before {
    content: "\f160";
  }
  .fa-sort-amount-desc:before {
    content: "\f161";
  }
  .fa-sort-numeric-asc:before {
    content: "\f162";
  }
  .fa-sort-numeric-desc:before {
    content: "\f163";
  }
  .fa-thumbs-up:before {
    content: "\f164";
  }
  .fa-thumbs-down:before {
    content: "\f165";
  }
  .fa-youtube-square:before {
    content: "\f166";
  }
  .fa-youtube:before {
    content: "\f167";
  }
  .fa-xing:before {
    content: "\f168";
  }
  .fa-xing-square:before {
    content: "\f169";
  }
  .fa-youtube-play:before {
    content: "\f16a";
  }
  .fa-dropbox:before {
    content: "\f16b";
  }
  .fa-stack-overflow:before {
    content: "\f16c";
  }
  .fa-instagram:before {
    content: "\f16d";
  }
  .fa-flickr:before {
    content: "\f16e";
  }
  .fa-adn:before {
    content: "\f170";
  }
  .fa-bitbucket:before {
    content: "\f171";
  }
  .fa-bitbucket-square:before {
    content: "\f172";
  }
  .fa-tumblr:before {
    content: "\f173";
  }
  .fa-tumblr-square:before {
    content: "\f174";
  }
  .fa-long-arrow-down:before {
    content: "\f175";
  }
  .fa-long-arrow-up:before {
    content: "\f176";
  }
  .fa-long-arrow-left:before {
    content: "\f177";
  }
  .fa-long-arrow-right:before {
    content: "\f178";
  }
  .fa-apple:before {
    content: "\f179";
  }
  .fa-windows:before {
    content: "\f17a";
  }
  .fa-android:before {
    content: "\f17b";
  }
  .fa-linux:before {
    content: "\f17c";
  }
  .fa-dribbble:before {
    content: "\f17d";
  }
  .fa-skype:before {
    content: "\f17e";
  }
  .fa-foursquare:before {
    content: "\f180";
  }
  .fa-trello:before {
    content: "\f181";
  }
  .fa-female:before {
    content: "\f182";
  }
  .fa-male:before {
    content: "\f183";
  }
  .fa-gittip:before {
    content: "\f184";
  }
  .fa-sun-o:before {
    content: "\f185";
  }
  .fa-moon-o:before {
    content: "\f186";
  }
  .fa-archive:before {
    content: "\f187";
  }
  .fa-bug:before {
    content: "\f188";
  }
  .fa-vk:before {
    content: "\f189";
  }
  .fa-weibo:before {
    content: "\f18a";
  }
  .fa-renren:before {
    content: "\f18b";
  }
  .fa-pagelines:before {
    content: "\f18c";
  }
  .fa-stack-exchange:before {
    content: "\f18d";
  }
  .fa-arrow-circle-o-right:before {
    content: "\f18e";
  }
  .fa-arrow-circle-o-left:before {
    content: "\f190";
  }
  .fa-toggle-left:before,
  .fa-caret-square-o-left:before {
    content: "\f191";
  }
  .fa-dot-circle-o:before {
    content: "\f192";
  }
  .fa-wheelchair:before {
    content: "\f193";
  }
  .fa-vimeo-square:before {
    content: "\f194";
  }
  .fa-turkish-lira:before,
  .fa-try:before {
    content: "\f195";
  }
  .fa-plus-square-o:before {
    content: "\f196";
  }
  .fa-space-shuttle:before {
    content: "\f197";
  }
  .fa-slack:before {
    content: "\f198";
  }
  .fa-envelope-square:before {
    content: "\f199";
  }
  .fa-wordpress:before {
    content: "\f19a";
  }
  .fa-openid:before {
    content: "\f19b";
  }
  .fa-institution:before,
  .fa-bank:before,
  .fa-university:before {
    content: "\f19c";
  }
  .fa-mortar-board:before,
  .fa-graduation-cap:before {
    content: "\f19d";
  }
  .fa-yahoo:before {
    content: "\f19e";
  }
  .fa-google:before {
    content: "\f1a0";
  }
  .fa-reddit:before {
    content: "\f1a1";
  }
  .fa-reddit-square:before {
    content: "\f1a2";
  }
  .fa-stumbleupon-circle:before {
    content: "\f1a3";
  }
  .fa-stumbleupon:before {
    content: "\f1a4";
  }
  .fa-delicious:before {
    content: "\f1a5";
  }
  .fa-digg:before {
    content: "\f1a6";
  }
  .fa-pied-piper:before {
    content: "\f1a7";
  }
  .fa-pied-piper-alt:before {
    content: "\f1a8";
  }
  .fa-drupal:before {
    content: "\f1a9";
  }
  .fa-joomla:before {
    content: "\f1aa";
  }
  .fa-language:before {
    content: "\f1ab";
  }
  .fa-fax:before {
    content: "\f1ac";
  }
  .fa-building:before {
    content: "\f1ad";
  }
  .fa-child:before {
    content: "\f1ae";
  }
  .fa-paw:before {
    content: "\f1b0";
  }
  .fa-spoon:before {
    content: "\f1b1";
  }
  .fa-cube:before {
    content: "\f1b2";
  }
  .fa-cubes:before {
    content: "\f1b3";
  }
  .fa-behance:before {
    content: "\f1b4";
  }
  .fa-behance-square:before {
    content: "\f1b5";
  }
  .fa-steam:before {
    content: "\f1b6";
  }
  .fa-steam-square:before {
    content: "\f1b7";
  }
  .fa-recycle:before {
    content: "\f1b8";
  }
  .fa-automobile:before,
  .fa-car:before {
    content: "\f1b9";
  }
  .fa-cab:before,
  .fa-taxi:before {
    content: "\f1ba";
  }
  .fa-tree:before {
    content: "\f1bb";
  }
  .fa-spotify:before {
    content: "\f1bc";
  }
  .fa-deviantart:before {
    content: "\f1bd";
  }
  .fa-soundcloud:before {
    content: "\f1be";
  }
  .fa-database:before {
    content: "\f1c0";
  }
  .fa-file-pdf-o:before {
    content: "\f1c1";
  }
  .fa-file-word-o:before {
    content: "\f1c2";
  }
  .fa-file-excel-o:before {
    content: "\f1c3";
  }
  .fa-file-powerpoint-o:before {
    content: "\f1c4";
  }
  .fa-file-photo-o:before,
  .fa-file-picture-o:before,
  .fa-file-image-o:before {
    content: "\f1c5";
  }
  .fa-file-zip-o:before,
  .fa-file-archive-o:before {
    content: "\f1c6";
  }
  .fa-file-sound-o:before,
  .fa-file-audio-o:before {
    content: "\f1c7";
  }
  .fa-file-movie-o:before,
  .fa-file-video-o:before {
    content: "\f1c8";
  }
  .fa-file-code-o:before {
    content: "\f1c9";
  }
  .fa-vine:before {
    content: "\f1ca";
  }
  .fa-codepen:before {
    content: "\f1cb";
  }
  .fa-jsfiddle:before {
    content: "\f1cc";
  }
  .fa-life-bouy:before,
  .fa-life-buoy:before,
  .fa-life-saver:before,
  .fa-support:before,
  .fa-life-ring:before {
    content: "\f1cd";
  }
  .fa-circle-o-notch:before {
    content: "\f1ce";
  }
  .fa-ra:before,
  .fa-rebel:before {
    content: "\f1d0";
  }
  .fa-ge:before,
  .fa-empire:before {
    content: "\f1d1";
  }
  .fa-git-square:before {
    content: "\f1d2";
  }
  .fa-git:before {
    content: "\f1d3";
  }
  .fa-hacker-news:before {
    content: "\f1d4";
  }
  .fa-tencent-weibo:before {
    content: "\f1d5";
  }
  .fa-qq:before {
    content: "\f1d6";
  }
  .fa-wechat:before,
  .fa-weixin:before {
    content: "\f1d7";
  }
  .fa-send:before,
  .fa-paper-plane:before {
    content: "\f1d8";
  }
  .fa-send-o:before,
  .fa-paper-plane-o:before {
    content: "\f1d9";
  }
  .fa-history:before {
    content: "\f1da";
  }
  .fa-circle-thin:before {
    content: "\f1db";
  }
  .fa-header:before {
    content: "\f1dc";
  }
  .fa-paragraph:before {
    content: "\f1dd";
  }
  .fa-sliders:before {
    content: "\f1de";
  }
  .fa-share-alt:before {
    content: "\f1e0";
  }
  .fa-share-alt-square:before {
    content: "\f1e1";
  }
  .fa-bomb:before {
    content: "\f1e2";
  }
  .fa-soccer-ball-o:before,
  .fa-futbol-o:before {
    content: "\f1e3";
  }
  .fa-tty:before {
    content: "\f1e4";
  }
  .fa-binoculars:before {
    content: "\f1e5";
  }
  .fa-plug:before {
    content: "\f1e6";
  }
  .fa-slideshare:before {
    content: "\f1e7";
  }
  .fa-twitch:before {
    content: "\f1e8";
  }
  .fa-yelp:before {
    content: "\f1e9";
  }
  .fa-newspaper-o:before {
    content: "\f1ea";
  }
  .fa-wifi:before {
    content: "\f1eb";
  }
  .fa-calculator:before {
    content: "\f1ec";
  }
  .fa-paypal:before {
    content: "\f1ed";
  }
  .fa-google-wallet:before {
    content: "\f1ee";
  }
  .fa-cc-visa:before {
    content: "\f1f0";
  }
  .fa-cc-mastercard:before {
    content: "\f1f1";
  }
  .fa-cc-discover:before {
    content: "\f1f2";
  }
  .fa-cc-amex:before {
    content: "\f1f3";
  }
  .fa-cc-paypal:before {
    content: "\f1f4";
  }
  .fa-cc-stripe:before {
    content: "\f1f5";
  }
  .fa-bell-slash:before {
    content: "\f1f6";
  }
  .fa-bell-slash-o:before {
    content: "\f1f7";
  }
  .fa-trash:before {
    content: "\f1f8";
  }
  .fa-copyright:before {
    content: "\f1f9";
  }
  .fa-at:before {
    content: "\f1fa";
  }
  .fa-eyedropper:before {
    content: "\f1fb";
  }
  .fa-paint-brush:before {
    content: "\f1fc";
  }
  .fa-birthday-cake:before {
    content: "\f1fd";
  }
  .fa-area-chart:before {
    content: "\f1fe";
  }
  .fa-pie-chart:before {
    content: "\f200";
  }
  .fa-line-chart:before {
    content: "\f201";
  }
  .fa-lastfm:before {
    content: "\f202";
  }
  .fa-lastfm-square:before {
    content: "\f203";
  }
  .fa-toggle-off:before {
    content: "\f204";
  }
  .fa-toggle-on:before {
    content: "\f205";
  }
  .fa-bicycle:before {
    content: "\f206";
  }
  .fa-bus:before {
    content: "\f207";
  }
  .fa-ioxhost:before {
    content: "\f208";
  }
  .fa-angellist:before {
    content: "\f209";
  }
  .fa-cc:before {
    content: "\f20a";
  }
  .fa-shekel:before,
  .fa-sheqel:before,
  .fa-ils:before {
    content: "\f20b";
  }
  .fa-meanpath:before {
    content: "\f20c";
  }
  /* PLugins */
  /* ====================================================== */
  /* Style */
  /* ====================================================== */
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #fff;
  }
  input,
  button,
  select,
  textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  a {
    color: #428bca;
    text-decoration: none;
  }
  a:hover,
  a:focus {
    color: #2a6496;
    text-decoration: underline;
  }
  a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  figure {
    margin: 0;
  }
  img {
    vertical-align: middle;
  }
  .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .img-rounded {
    border-radius: 6px;
  }
  .img-thumbnail {
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
  }
  .img-circle {
    border-radius: 50%;
  }
  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
  }
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  .sr-only-focusable:active,
  .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
  /* TYPOGRAPHY */
  /* FORMS */
  /* BUTTONS */
  /* HEADER */
  #header {
    position: relative;
  }
  /* FOOTER */
  #footer {
    position: relative;
  }
  /* WIDGETS */
  /* SHORTCODES */
  /* WRAPPER */
  .left-side {
    position: relative;
    min-height: 100vh;
    text-align: center;
    background: #000 url(../img/bg.jpg) no-repeat center;
    background-size: cover;
  }
  .left-side header {
    position: relative;
    margin-top: 80px;
  }
  .left-side header span {
    margin-bottom: 6px;
    display: block;
    font-family: 'lato', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    color: #999;
    letter-spacing: 0.12em;
  }
  .left-side header h3 {
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-size: 54px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: 0.01em;
  }
  .right-side {
    position: relative;
    padding: 120px 120px 100px 120px;
    height: 100vh;
    background: #fff;
  }
  .right-side .input {
    margin-top: 0;
    margin-left: 0;
  }
  .right-side .input input {
    font-size: 14px;
  }
  .right-side .cta {
    margin-top: 40px;
  }
  .right-side .cta .btn {
    padding: 13px 25px;
    border: none;
    color: #fff;
    display: inline-block;
    background: #ff5500;
    font-family: 'lato', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.12em;
    border-radius: 24px;
  }
  .right-side .cta .btn:hover {
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    background: #ff3f00;
  }
  .right-side .cta span {
    margin-top: 10px;
    margin-left: 30px;
    display: inline-block;
  }
  .right-side .cta span a {
    font-family: 'lato', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    color: #999;
    letter-spacing: 0.1em;
  }
  .right-side .social {
    position: absolute;
    padding: 0;
    bottom: 30px;
    right: 120px;
  }
  .right-side .social li {
    margin-left: 8px;
    display: inline-block;
  }
  .right-side .social li:last-child:after {
    display: none;
  }
  .right-side .social li:after {
    padding-left: 10px;
    content: "-";
    color: #ff5500;
  }
  .right-side .social li a {
    font-family: 'lato', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    color: #999;
    letter-spacing: 0.1em;
  }
  Width: 1366