{% extends "template.html" %}
{% block content %} 

<form action="{% url 'checkout' scheme.pk %}" method="post">{% csrf_token %}
    {{ form }}
<script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_3oJgzKSwSf0y5Z89D2jdL9H0" data-amount="{{ form.amount }}"
    data-name="{{ scheme.name }}" data-description="" data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto">
    </script>
</form>
{% endblock %} 