 {% extends "template.html" %} {% block portfolio %}

<div class="col-md-12">
    <div class="card card-plain">
        <div class="header">
            <h4 class="title">Portfolio Details</h4>

        </div>
        <div class="content table-responsive table-full-width">
            <table class="table table-hover">
                <thead>
                    <th>Scheme Plan</th>
                    <th>Transaction Type</th>
                    <th>Amount</th>
                    <th>Transaction Status</th>
                </thead>
                <tbody>
                    {% for transaction in transactions %}

                    <tr>
                        <td>{{ transaction.scheme_plan.name}}</td>
                        <td>{{ transaction.transaction_type}}</td>
                        <td>{{ transaction.amount }}</td>
                        <td>{{ transaction.status }}</td>
                    </tr>
                    {% endfor %}


                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}