{% extends "template.html" %} {% block content %} {% for scheme in object_list %}
<div class="col-md-4">
    <div class="card ">
        <div class="header">
            <h4 class="title">{{ scheme.name }}</h4>
            <hr>
            <p><b>Parent Fund:</b>  {{ scheme.fund_scheme }}</p>
            <p><b>Minimum Investment:</b> {{ scheme.min_investment }} </p>
            <a class="btn btn-block" href="{% url 'amc:scheme_detail' scheme.id %}" role="button">Details</a>
        </div>
        <hr>
    </div>
</div>
{% endfor %} {% endblock %}