{% extends "template.html" %} {% load static %} {% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">


        </div>



        <!-- <div class="row">
            <div class="col-md-6">
                <div class="card ">
                    <div class="header">
                        <h4 class="title">Old Mutual vs Sanlam</h4>
                        <p class="category">Dividend Yields on Money Market Funds</p>
                    </div>
                    <div class="content">
                        <div id="chartActivity" class="ct-chart"></div>

                        <div class="footer">
                            <div class="legend">
                                <i class="fa fa-circle text-info"></i> Sanlam
                                <i class="fa fa-circle text-danger"></i> Old Mutual
                            </div>
                            <hr>
                            <div class="stats">
                                <i class="fa fa-check"></i> Data information certified
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        {% block chart %}

        <div class="row">
            <div class="col-lg-12">
                <!-- TradingView Widget BEGIN -->
                <!-- TradingView Widget BEGIN -->
                <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                <script type="text/javascript">
                    new TradingView.widget({
                        "width": 980,
                        "height": 610,
                        "symbol": "NASDAQ:AAPL",
                        "interval": "D",
                        "timezone": "Etc/UTC",
                        "theme": "Light",
                        "style": "0",
                        "locale": "en",
                        "toolbar_bg": "#f1f3f6",
                        "enable_publishing": false,
                        "withdateranges": true,
                        "hide_side_toolbar": false,
                        "allow_symbol_change": true,
                        "details": true,
                        "calendar": true,
                        "news": [
                            "headlines"
                        ],
                        "hideideas": true
                    });
                </script>
                <!-- TradingView Widget END -->

            </div>

        </div>
        {% endblock chart %}

    </div>
</div>
{% endblock %}