{% load static %}
{% load i18n %}
{% load widget_tweaks %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="assets/img/favicon.ico">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
        <title>Z-CASH</title>
    
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />
    
    
        <!-- Bootstrap core CSS     -->
        <link href="{% static "assets/css/bootstrap.min.css"%}" rel="stylesheet" />
    
        <!-- Animation library for notifications   -->
        <link href="{% static "assets/css/animate.min.css"%}" rel="stylesheet" />
    
        <!--  Light Bootstrap Table core CSS    -->
        <link href="{% static "assets/css/light-bootstrap-dashboard.css" %}" rel="stylesheet" />
    
        <!--     Fonts and icons     -->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
        <link href="{% static "assets/css/pe-icon-7-stroke.css"%}" rel="stylesheet" />
    
    </head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="{% static "assets/img/sidebar-5.jpg"%}">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="{% url 'index' %}" class="simple-text">
                    Z-CASH
                </a>
            </div>
            {% url 'amc:dashboard' as home %}
            {% url 'amc:scheme_list' as schemes %}
            {% url 'users:profile' user.pk as profile %}
            {% url 'users:portfolio' user.id as portfolio %}
            

            

            <ul class="nav">
                <li {% if request.path == home %} class="active" {% endif %}>
                    <a href="{% url 'amc:dashboard' %}">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li {% if request.path == schemes %} class="active"{% endif %}>
                        <a href="{% url 'amc:scheme_list' %}">
                            <i class="pe-7s-piggy"></i>
                            <p>Funds</p>
                        </a>
                    </li>
                <li {% if request.path == portfolio %}class="active"{% endif %}>
                        <a href="{% url 'users:portfolio'  %}">
                        <i class="pe-7s-graph"></i>
                        <p>Your Portfolio</p>
                    </a>
                </li>
                <li {% if request.path == profile %} class="active"{% endif %}>
                    <a href="{% url 'users:profile' user.pk %}">
                        <i class="pe-7s-users"></i>
                        <p>Profile</p>
                    </a>
                </li>
                

            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Points:{{ request.user.points }}</a>
                    
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-dashboard"></i>
                            </a>
                        </li>
                        
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            {% if user.is_authenticated %}<a href ="">{{ request.user.username }} </a>
                        </li>
                        <li>
                            <a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a>     
                        </li>
                            {% else %}
                        <li>                               
                            <a href="{% url 'auth_login' %}">{% trans "Log in" %}</a>
                        </li>
                            {% endif %}
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    {% block content %}
                    
                    {% endblock %} 
                    {% block portfolio %}
                    
                    {% endblock portfolio %}
                    
                </div>
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="{% url 'index' %}">
                                Landing Page
                            </a>
                        </li>
                        

                    </ul>
                </nav>
            </div>
        </footer>

    </div>
</div>


</body>

    <!--   Core JS Files   -->
    <script src="{% static "assets/js/jquery.3.2.1.min.js"%}" type="text/javascript"></script>
	<script src="{% static "assets/js/bootstrap.min.js"%}" type="text/javascript"></script>

	<!--  Charts Plugin -->
	<script src="{% static "assets/js/chartist.min.js"%}"></script>

    <!--  Notifications Plugin    -->
    <script src="{% static "assets/js/bootstrap-notify.js"%}"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="{% static "assets/js/light-bootstrap-dashboard.js"%}"></script>

	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
	<script src="{% static "assets/js/demo.js"%}"></script>
    
    {% block script %}
    {% if request.user.is_authenticated %}
    <script type="text/javascript">
    	$(document).ready(function(){

        	demo.initChartist();


    	});
	</script>
        
    {% endif %}
    
    
    {% endblock %}      
	


</html>
